{% extends 'base.html.twig' %}

{% block title %} Questions/Réponses{% endblock %}

{% block body %}
    <div class="container-fluid  py-4  register">
  
         <div class="row justify-content-center">
          
           <div class="col-lg-9 col-md-12 col-12">
           
           <h1 class="text-center py-3">Questions/Réponses</h1>
           <p>
           <ol>
            <li class="my-2">1- Comment vont les activités actuellement ?

LE PRÉSIDENT : Pour vous répondre cette question, je vous dirai que les activités vont en crescendo : il y a des moments où les activités vont comme sur des roulettes et il ya des moment elles vont en morose .</li>
            <li class="my-2">2-Se mettre au service des enfants n’est pas chose facile. Dans la pratique comment- arrivez-vous à mobiliser les moyens ?

LE PRÉSIDENT : sans vous mentir c’est pas du beurre, sans l’abnégation et le sacrifice rien n’est possible; sur ce ,nous n’aménageons aucun effort pour venir à bout au service de nos orphelins; enfants; vulnérables; nous n’avons aucun apport financier extérieur. Notre Orphelinat vie grâce aux cotisations et aux dons des membres uniquement. Donc nous lançons un appel de dons aux personnes de grand cœur pour nous venir en aide.</li>
            <li class="my-2">
3-Dites-nous, quel sont les critères d’accueil des enfants au niveau de l'A.S.T.D ?

LE PRÉSIDENT : c’est une question capitale : notre critère de recensement de nos enfants est basé sur une enquête menée par un groupe de  l'A.S.T.D dans lequel se trouve le Président du conseil d’administration auprès du tuteur ou des membres de l’enfant en question et dès fois on va voir le chef du village du concerné. Surtout pour nous il faut qu’un ou deux des parents ne soit (soient) plus.</li>
            <li class="my-2">
4-Que faites-vous une fois que les enfants deviennent légalement des adultes ? Quel suivi pour eux ?

LE PRÉSIDENT : les enfants de  l'A.S.T.D sont traités comme nos propres enfants dès l’âge de 4 ans jusqu’à l’âge majoritaire (18 ans). Dès qu’un enfant de Maison des enfants déshérités(A.S.T.D) devient majeur, il est placé dans une famille d’accueil et est toujours sous l’œil de l'A.S.T.D.</li>
            <li class="my-2">5-Avez-vous une expérience marquante à partager avec nous (bonne ou mauvaise) ?

LE PRÉSIDENT : à cette question, je dirai plutôt une bonne expérience : car un ancien enfant de  l'A.S.T.D visite de temps à temps ceux qui sont au centre maintenant et cela touche beaucoup.
</li>
            <li class="my-2">
6-Quels sont les projets phares sur lesquels vous travaillez ?

LE PRÉSIDENT : comme projets phares, nous vous dirons que c’est :

l’éducation des orphelins enfants vulnérables.
*construction d’un centre d’accueil de ces derniers
faire du camp chantier…
faire des aides alimentaires aux familles à revenu modeste</li>
            <li class="my-2">
7-Actualité oblige. Quel est l’impact de la pandémie actuelle sur vos activités ?

LE PRÉSIDENT : sur cette question je vous dirai que nous rendons grâce à Dieu que tous nos enfants et le staff de  l'A.S.T.D vont tous bien. Seulement que nos partenaires ou les bénévoles internationaux sont absents compte-tenu de la situation sanitaire dans laquelle nous sommes plongés.</li>
           </ol>

           </p>
           
           </div>
         </div>

               <div class="row ">
                     <div class="col-12 d-flex justify-content-center ">
                                    <a href="{{ ('https://www.facebook.com/profile.php?id=100087765586194') }}" ><img src="{{asset('/images/facebook.png')}}" class="img-fluid icons col-7 col-md-9 col-lg-8" id="img" alt="icon facebook" max-width="100%" height="auto" ></a>   
                                          <a href="{{ ('https://www.instagram.com/asstthomasdiaspora/') }}"><img src="{{asset('/images/insta.png')}}" class="img-fluid icons col-7 col-md-9 col-lg-8" id="img" alt="icon instagram" max-width="100%" height="auto"></a>
                                          <a href="{{ ('https://twitter.com/assthomasdiaspo') }}"><img src="{{asset('/images/twitter.png')}}" class="img-fluid icons col-7 col-md-9 col-lg-8" id="img" alt="icon twitter" max-width="100%" height="auto"></a>  
                                          <a href="{{ ('https://www.youtube.com/@as-st-thomas-diaspora') }}"><img src="{{asset('/images/youtube.png')}}" class="img-fluid icons col-7 col-md-9 col-lg-8"  id="img" alt="icon youtube" max-width="100%" height="auto"></a>         
                       </div>
                </div>
    </div>
      
{% endblock %}

