{% extends 'base.html.twig' %}

{% block title %}Slider{% endblock %}

{% block body %}
   
    <div class="row">
            <div class="col-8 mx-auto mt-3">
                {% include 'include/_flashes.html.twig' %}
            </div>
        </div>

 <div class="row">
        <div class="col-10 mx-auto my-4">

            <h2 class="text-center">Voir les images archivées</h2>

         
    <div class="row">

         <div class="col-12 ">
         <a href="{{ path('caroussel_list') }}"><i class="fa fa-solid fa-arrow-left"></i> Retour à la liste des images</a>
         </div>

     </div>


            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Photo</th>
                    <th>Créé le</th>
                    <th>Modifié le</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for caroussel in archivedCaroussels %}
                    <tr>
                        <td>{{ caroussel.id }}</td>
                         <td> 
                           <div class="row">
                            
                           <div class="col-4 my-3 mx-6">
                                <a href="" title="">
                                  <img src="{{ asset('uploads/' ~ caroussel.photo) }}" alt="" class="img-fluid rounded shadow">
                                </a>
                           </div>
                    
                        </div>

                        </td>
                        <td>{{ caroussel.createdAt | date('d/m/Y')}}</td>
                        <td>{{ caroussel.updatedAt | date('d/m/Y')}}</td>
              
                        <td>
                            
                              <a href="{{ path('restore_caroussel_image', {'id':caroussel.id}) }}"
                                   class="text-primary"
                                   title="Restaurer l'image'">
                                    <i class="fa-solid fa-trash-arrow-up"></i>
                                </a>
                                <a href="{{ path('hard_delete_caroussel_image', {'id':caroussel.id}) }}"
                                   class="text-danger"
                                   title="Supprimer définitivement l'image'"
                                   onclick="return confirm('Voulez-vous supprimer définitivement cette image?')">
                                    <i class="fa fa-times-circle"></i>
                                </a>
                      
                        {% else %}
                             <tr>
                                <td colspan="12" class="bg-warning text-center"> Aucune image dans la corbeille</td>
                           </tr>
 
                    </tr>   
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>


     

{% endblock %}