{# <div class="grix col-6 container">
  {% for message in app.flashes('message') %}
       <div class="col-12">
          <div class="p-3 my-2 rounded-1 green light-4 text-green text-dark-4">{{message}}</div>
       </div>
   {% endfor %} 
 </div>


 
#} 

     <div class="container-fluid">
         <div class="row ">
            <div class="col text-center d-flex justify-content-center">       
                    {% for message in app.flashes('message') %}
                    <div class="alert alert-success dismissible fade show col-lg-6 col-md-9 col-12 " role="alert">{{ message }}<i class="fa fa-thumbs-up mx-1"></i>
                     {% endfor %}
            </div>
        </div>
         <div class="row ">
            <div class="col text-center d-flex justify-content-center">       
                    {% for message in app.flashes('profil') %}
                    <div class="alert btn-info2 dismissible fade show col-lg-6 col-md-9 col-12 " role="alert"><i class="fa-solid fa-hand mx-1"></i> {{ message }}
                     {% endfor %}
            </div>
        </div>
    </div>


{# {% for label, messages in app.flashes %}
    {% for message in messages %}

        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
            {% if label == 'success' %}
                <span class="alert-inner--icon"><i class="fa fa-thumbs-up"></i></span>
            {% else %}
                <span class="alert-inner--icon"><i class="fa fa-thumbs-down"></i></span>
            {% endif %}
            <span class="alert-inner--text"><strong>{{ label | title }} : </strong> {{ message | raw }}</span>
        </div>

    {% endfor %}
{% endfor %} #}