{%  extends 'base_admin.html.twig' %}
 
{% block title %}Espace Admin{% endblock %} 

{% block body %} 
       
<div class="container-fluid">
             <div class="row">
                <div class="col-lg-12 col-md-12 col-12 text-center my-5">
                      <h3 class="fs-5"> Bonjour  <strong class="text-warning"> {{ app.user.firstname }}  {{ app.user.lastname }} <img src="{{ asset('images/hello.png') }}"  class=""></strong> et bienvenue sur votre espace admin </h3>
                </div>
             </div>

             <div class="row justify-content-center">
                  <div class="col-lg-12 col-md-9 col-12 text-center ">
                        <h2 class="py-2 btn-info"> <i class="fa fa-home  btn btn-info fs-2"></i>Tableau de bord</h2> 
                  </div>
             </div>
                      
            <div class="row my-3">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 my-2 d-flex justify-content-center my-3 ">
                         <h2><a href="{{ path('users_list') }}" class="text-header fw-bold"><i class="fa-solid fa-list mx-1"></i>Liste des membres</a></h2>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 my-2 d-flex justify-content-center"> 
                      <h2><a href="{{ path('articles_list') }}" class="text-header fw-bold"><i class="fa fa-flag"></i> Tous les articles</a></h2> 
                    </div> {#  
      
            </div>             
 </div>              
     
{% endblock %}
